
body, html {
    height:100%;
    background-color: black;

}

p {
    padding: 1em;
}

#background {
    background-image: url(../images/food_back07.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    overflow: auto;
}

#form-background {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) ,rgba(255, 255, 255, 0.35));
}

.header {
    padding-left: 1em;
    padding-top: 1em;
    
}

#header-container {

border-bottom:1px solid orange;
padding-bottom: 0;

}

.row-index{
    padding: 3em 0 3em 0;
}

.logoimage {
    margin: 0 auto;
    
}

.btn-main {
    margin: 0;
    padding: 0;
    width: 7em;
    height: 7em;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    border: 2px solid orange;
    font-size: 1.5em;
    margin-top: 2%;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.card-title {
    background-color: rgba(0,0,0,0.5);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}

.card {
    border: 1px solid orange;
    padding: 0;
}

.card-img-overlay {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    max-height: 1em;
}

.fas, .fal {
    font-size: 4em;
    padding-top: .1em;
    vertical-align: middle;
}

#quote {
    color: ghostwhite;
    text-shadow: .04em .04em black, -.65px -.65px black;
    font-size: 2.5em;
    font-family: 'Nothing You Could Do', cursive;
    padding-top: 2%;
}

.row {
    padding-bottom: 10px;
}

.form {
    border-style: solid;
    border-width: .3em;
    border-color: lightgray;
    border-radius: 2em;
    /* background-color: rgba(255,165,0,0.8); */
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    vertical-align: middle;
    margin-left:1em;
}


.generate {
    text-align: center;
}

#foodCol{

    display: none;

}

.footer {
    opacity: 0.6;
    /* background-color: orange; */
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.footerbtnspage {
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px; 
}

.footerbtnsmedia {
    padding-top: 1em;
    float: right;
}

.aboutheader{
    font-family: "Chopin Script";
    padding: 1em;
}

.abouttext {

    padding-left: 1em;
    padding-bottom: 1em;

}

.devcontainer, .aboutcontainer {
    margin: 0 auto;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2em;
    border: 1px solid orange;
}

.devheader {
    font-family: "Chopin Script";
    padding: 1em;
    text-align: center;
}

.devcontent {
    text-align: center;
    margin: 0 auto;
    display: table;
    clear: both;
    padding: 3em;
    /* height: 700px; */

}

.card {
    width: 25%;
    float: left;
}

.fab-light{
    color: rgba(255, 255, 255, 0.75);
    font-size: 3em;
}
