body {
    padding-left: 20px;
}


.header {
    width: 100%;
}

.foodform {
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
    background-color: orange;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    width: 420px;
    float: left;
}

p {
    padding-left: 10px;

}
.generate {
    text-align: center;
}